In [ ]:
import pandas as pd
var =pd. DataFrame( {"A":[1,2,3,4],"B":[5,6,7,8]})
var

   A  B
0  1  5
1  2  6
2  3  7
3  4  8

In [5]:
var.insert(1,"python",var["B"])
var

   A  python java  B
0  1       5    B  5
1  2       6    B  6
2  3       7    B  7
3  4       8    B  8